
* { margin: 0px; padding: 0px; }

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}


/*** HEADER ***/
header {
    height: 40px;
    line-height: 40px;

    background-color:#222;
    background-color:#222222;
    background-repeat:repeat-x;
    background-image:-khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
    background-image:-moz-linear-gradient(top, #333333, #222222);
    background-image:-ms-linear-gradient(top, #333333, #222222);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
    background-image:-webkit-linear-gradient(top, #333333, #222222);
    background-image:-o-linear-gradient(top, #333333, #222222);
    background-image:linear-gradient(top, #333333, #222222);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
    -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

header * { color: white; text-decoration: none; }
header > div { width: 1000px; margin-left: auto; margin-right: auto; }

header h3 {
    font-size: 1.2em;
    float: left;
    padding: 0px 10px;
}
header h3:hover { background: #444; }

header ul.nav li { float: left; list-style-type: none; margin: 0px 10px; }
header ul.nav li a { color: #999; }
header ul.nav li a:hover { color: white; }

header ul.secondary-nav { float: right; }


/*** CORPS ***/
section#Corps {
    width: 1000px;
    margin: 80px auto 0px auto;
}

ul.alert-message li {
    color: white;
    list-style: none;
}
.modal-body {
    padding: 0px;
}
.modal-body form {
    margin-bottom: 0px;
}
.modal-body div.actions {
    margin-bottom: 0px;
}
.modal-body fieldset {
    width: 100%;
    margin-bottom: 0px;
}
.rf-msg-err, .rf-msgs-err, .rf-msg-ftl, .rf-msgs-ftl, .rf-msg-inf, 
.rf-msgs-inf, .rf-msg-wrn, .rf-msgs-wrn, .rf-msg-ok, .rf-msgs-ok {

    padding-top: 5px;
}

.ui-message-error, .ui-message-info, .ui-message-warn {
    border: none;
    text-align: right;
    padding: 5px;
    background: none;
}

.ui-message-error-icon, .ui-message-info-icon, .ui-message-warn-icon { display: none; }

.ui-message-error-detail:first-letter, .ui-message-info-detail:first-letter, .ui-message-warn-detail:first-letter { text-transform: uppercase; }

.ui-dialog-titlebar { background-image: none; background-color: transparent; }
fieldset legend { padding-left: 0px; text-align: center; }
div.submit { text-align: center; }

