
* { margin: 0px; padding: 0px; }

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

body { background-color: #F3F3F3; color: #444; }

h1.legend { text-align: center; font-size: 2em; color: #555; margin-bottom: 20px; }

.clear { clear: both; }
.floatRight { float: right; }
.floatLeft { float: left; }


/*** DIVERS ***/

ul.alert-message li {
    color: white;
    list-style: none;
}
.modal-body {
    padding: 0px;
}
.modal-body form {
    margin-bottom: 0px;
}
.modal-body div.actions {
    margin-bottom: 0px;
}
.modal-body fieldset {
    width: 100%;
    margin-bottom: 0px;
}
.rf-msg-err, .rf-msgs-err, .rf-msg-ftl, .rf-msgs-ftl, .rf-msg-inf,
.rf-msgs-inf, .rf-msg-wrn, .rf-msgs-wrn, .rf-msg-ok, .rf-msgs-ok {

    padding-top: 5px;
}

.ui-message-error, .ui-message-info, .ui-message-warn {
    border: none;
    text-align: right;
    padding: 5px;
    background: none;
}

.ui-message-error-icon, .ui-message-info-icon, .ui-message-warn-icon { display: none; }

.ui-message-error-detail:first-letter, .ui-message-info-detail:first-letter, .ui-message-warn-detail:first-letter { text-transform: uppercase; }

.ui-dialog-titlebar { background-image: none; background-color: transparent; }
fieldset legend { padding-left: 0px; text-align: center; }
div.submit { text-align: center; }


/*** HEADER ***/
header {
    height: 40px;
    line-height: 40px;
    font-size: 1.1em;

    background-color:#222;
    background-color:#222222;
    background-repeat:repeat-x;
    background-image:-khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
    background-image:-moz-linear-gradient(top, #333333, #222222);
    background-image:-ms-linear-gradient(top, #333333, #222222);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
    background-image:-webkit-linear-gradient(top, #333333, #222222);
    background-image:-o-linear-gradient(top, #333333, #222222);
    background-image:linear-gradient(top, #333333, #222222);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
    -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

header * { color: white; text-decoration: none; }
header > div { width: 1000px; margin-left: auto; margin-right: auto; }

header h3 {
    font-size: 1.3em;
    float: left;
    padding: 0px 10px;
}
header h3:hover { background: #444; }

header ul.nav li { float: left; list-style-type: none; margin: 0px 10px; }
header ul.nav li a { color: #999; }
header ul.nav li a:hover { color: white; }

header ul.secondary-nav { float: right; }


/*** CORPS ***/
section { padding: 30px 0px 50px; width: 100%; background: white; }

div#Corps {
    width: 1000px;
    margin: 0px auto;
}


/*** FOOTER ***/
footer { padding: 30px; text-align: center; }


/*** DATATABLES ***/
.ui-datatable .ui-column-filter { margin-top: 5px; }
.ui-datatable tr.ui-state-hover { cursor: pointer; }
.ui-datatable tbody td { line-height: 25px; padding-bottom: 0px; padding-top: 0px; }


/*** FORMS ***/
div#LoginForm { width: 400px; margin: 30px auto; }

div.clearfix { width: 100%; line-height: 32px; padding-bottom: 15px; }
div.clearfix label { font-size: 1.2em; }

div.clearfix input {
    float: right;
    line-height: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
}
div.clearfix textarea { float: right; }
div.clearfix .ui-selectonemenu, div.clearfix select { float: right; width: 150px !important; }
div.clearfix .ui-selectonemenu .ui-selectonemenu-label { padding-bottom: 0px; padding-top: 0px; }
div.clearfix .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon { position: relative; top: 50%; margin-top: -8px; }
div.clearfix select { height: 32px; }

div.actions { width: 100%; text-align: center; padding-top: 15px; }
div.actions .ui-button .ui-button-text { padding: 0px 40px; line-height: 2.2em; font-size: 1.3em; }


